/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

/* Header Styles */
.header {
  background-color: #3498db;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

/* Close Button Styles */
.close-btn {
  margin: 0 auto;
  display: block;
}

/* Button Styles */
button {
  align: center;
  margin: 0 auto;
  display: block;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button.primary {
  background-color: #4caf50;
  color: #fff;
}

button.primary:hover {
  background-color: #45a049;
}

button[disabled] {
  background-color: #95a5a6;
  cursor: not-allowed;
}

/* Container Styles */
.container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Calendar Styles */
.calendar {
  margin-bottom: 20px;
}

.time-slots {
  align: center;
  display: flex;
  flex-wrap: wrap;
}

.slot {
  width: 80px;
  height: 40px;
  margin: 5px;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ccc;
}

.slot.booked {
  background-color: #e74c3c;
}

.booked-slots {
  margin-top: 20px;
}

.booked-slot {
  width: 80px;
  height: 40px;
  margin: 5px;
  background-color: #e74c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  color: #fff;
}

/* Delete Zone Styles */
.delete-zone {
  width: 5%;
  height: 80px;
  color: #fff;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/* Date Picker Styles */
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

/* Popup Styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
}

label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: blue;
  background: White;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: blue;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

/* Close Button Styles */
.close-btn {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Typography Styles */
h1,
h2 {
  color: #333;
  margin-bottom: 20px;
}

p {
  margin-top: 15px;
  font-weight: bold;
}

/* Animation Styles */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query for Reduced Motion */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: spin infinite 20s linear;
  }
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .time-slots {
    flex-direction: column;
  }

  .slot,
  .booked-slot {
    width: 100%;
  }
}
